@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #1e1c1c;
  color: #e5e5e5;
}

.text-mini {
  font-size: 0.5rem /* 12px */;
  line-height: 1rem /* 16px */;
}

.navbar-fixed {
  @apply z-[9999] bg-dark shadow-xl;
}

.burger-line {
  @apply w-[30px] h-[2px] my-2 block bg-milk rounded-full;
}
.burger-active > span:nth-child(1) {
  @apply rotate-45 scale-x-50 translate-x-5;
}

.burger-active > span:nth-child(2) {
  @apply scale-x-[.6] -translate-x-2;
}

.burger-active > span:nth-child(3) {
  @apply -rotate-45 scale-x-50 translate-x-5;
}

.hero-s {
  animation: fadehero-s ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.hero-e {
  animation: fadehero-e ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadehero-s {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadehero-e {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.card-shadow:hover {
  box-shadow: 4px 4px #f1b424;
}

.nav-active {
  @apply visible;
}

/* animation */
svg text {
  font-size: 120px;
  font-weight: 700;
  stroke-width: 4;
  stroke-linecap: round;
  letter-spacing: 6px;

  animation: textAnimate 10s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 40%;
    stroke-dashoffset: 50%;
    fill: transparent;
    stroke: #171717;
  }
  60% {
    fill: transparent;
    stroke: #171717;
  }
  70% {
    fill: #171717;
    stroke: #171717;
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -50%;
    fill: #171717;
    stroke: #171717;
  }
}
